body{
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
}


.input{
  display: none;
  /* visibility: hidden; */
  /* position: relative; */
}

.box{
  height: 40px;
  width: 80px;
  background-color: #999;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  position: absolute;
  border-radius: 20px;
  
}

.circle{
  height: 34px;
  width: 34px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  animation-name: anime-off;
  animation-duration: .6s;
  animation-diraction: linear;
}

.input:checked + .box {
  background-color: #fff;
  
}
.input:checked + .box .circle{
  animation-name: anime-on;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  
}



@keyframes anime-on {
  0%{
    transform : translateX(0);
  }
  100%{
    transform : translateX(40px);
  }
}
@keyframes anime-off {
  0%{
    transform : translateX(40px);
  }
  100%{
    transform : translateX(0);
  }
}